.header-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.info-details {
  display: flex;
  align-items: center;
  gap: 2px;
}
